@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  :root {
    --background: #fdf3ef;
    --foreground: #ffeae0;
    --card: white;
    --card-foreground: text-gray-800;
    --primary:#ffeae0;
    --primary-foreground: text-gray-800;
    --primary-dark: #ff976a;
    --secondary-dark: #f0244d;
    --secondary:#f4d6d8;
    --secondary-foreground: text-gray-800;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
  html {
    @apply text-gray-800;
  } 
}
